<div class="container">
    <br />
    <div class="card">
        <div class="card-header text-white bg-secondary">
            <!-- L'en-tête ici -->
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>

        </div>

        <div class="card-text">
            <form class="form-horizontal" 
            novalidate 
            (ngSubmit)="save()" 
            [formGroup]="problemeForm">
                <!-- Zone de texte PRENOM -->
                <div class="form-group row">
                    <label for="prenomId" class="col-md-2 col-form-label text-right">Prénom :</label>
                    <div class="col-md-10">
                        <!-- Les 2 validateurs maison agissent sur la propriété valid. Pas besoin de les coder ici -->
                        <input class="form-control" 
                        id="prenomId" 
                        type="text" 
                        placeholder="Votre prénom ici (obligatoire)"
                        rmControlName="prenom" 
                        [ngClass]="{'is-valid': (problemeForm.get('prenom').touched || problemeForm.get('prenom').dirty) && problemeForm.get('prenom').valid,
                        'is-invalid': (problemeForm.get('prenom').touched || problemeForm.get('prenom').dirty) && !problemeForm.get('prenom').valid}" />
                    </div>


                    
                    <span class="form-text" *ngIf="(problemeForm.get('prenom').touched ||
                    problemeForm.get('prenom').dirty) &&
                    (problemeForm.get('prenom').errors)">
                        <span *ngIf=" problemeForm.get('prenom').errors['required']">
                            <small class="text-muted">
                                Merci de saisir votre prénom.
                            </small>
                        </span>
                        <span *ngIf="problemeForm.get('prenom').errors['nbreCaracteresInsuffisant']">
                            <small class="text-muted">
                                Veuillez entrer plus de caractères.
                            </small>
                        </span>
                    </span> 
                    <label for="prenomId" class="col-md-2 col-form-label text-right">Nom :</label>
                    <div class="col-md-10">
                       
                        <input class="form-control" 
                        id="nomId" 
                        type="text" 
                        placeholder="Votre nom ici (obligatoire)"
                        formControlName="prenom" 
                        />
                    </div>

                </div>
                <div class="form-group row">
                    <label for="typeProblemeId" class="col-md-2 col-form-label text-right">Type de problème :</label>
                    <div class="col-md-10">
                        <!-- Les 2 validateurs maison agissent sur la propriété valid. Pas besoin de les coder ici -->
                        <select class="form-control" > 
                        <option value="">Sélectionner un type de problème(obligatoire)...</option>
                        <option *ngFor="let tp of typesProbleme" [value]="tp.id">{{tp.descriptionTypeProbleme}}</option>                                                        
                        </select>


                    </div>  
                </div>  
                <br>
                <!-- Zone bouton radio NOTIFIEZ MOI POUR LE STATUT DE MA DEMANDE -->
                    <div class="form-group row">
                    <div class="col-md-2"></div>
                    <label for="notificationId" class="col-md-10 col-form-label">Notifiez-moi pour le statut de ma demande :</label>
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <label class="radio-inline">
                            <input type="radio"
                            value="pasnotification"
                            id="NotifiezMoiId"
                            formControlName = "notification">&nbsp;Ne pas me notifier
                        </label>
                        &nbsp;&nbsp;&nbsp;
                        <label class="radio-inline">
                            <input type="radio"
                            value="courriel"
                            id="NotifiezMoiId"
                            formControlName = "notification">&nbsp;Par courriel
                        </label>
                        &nbsp;&nbsp;&nbsp;
                        <label class="radio-inline">
                            <input type="radio"
                            value="messageTexte"
                            id="NotifiezMoiId"
                            formControlName = "notification">&nbsp;Par message texte
                        </label>
                    </div>
                    </div>
                <br>
                  <!-- Zone de texte TÉLÉPHONE (SMS) -->
                <div class="form-group row">          
                    <label for="telephoneId" class="col-md-2 col-form-label text-right">Téléphone (SMS) :</label>
                    <div class="col-md-10">
                    <input class="form-control" 
                    id="telephoneId" 
                    type="text" 
                    placeholder="Entrez 10 chiffres seulement.  Par exemple 5141118888" 
                    formControlName="telephone" 
                    [ngClass]="{'is-valid': (problemeForm.get('telephone').touched || 
                    problemeForm.get('telephone').dirty) &&
                    problemeForm.get('telephone').valid , 'is-invalid': (problemeForm.get('telephone').touched || 
                    problemeForm.get('telephone').dirty) &&
                    !problemeForm.get('telephone').valid }" />

                    <span class="form-text" *ngIf="(problemeForm.get('telephone').touched || 
                    problemeForm.get('telephone').dirty) && 
                    (problemeForm.get('telephone').errors ||
                    problemeForm.get('telephone').errors)">
                        <span *ngIf="problemeForm.get('telephone').errors['required']">
                            <small  class="text-muted">
                                Merci de saisir votre numéro de téléphone.
                            </small>
                        </span>                         
                        <span *ngIf="problemeForm.get('telephone').errors['minlength']">
                        <small  class="text-muted">                  
                            Veuillez entrer plus de caractères.
                        </small>
                        </span>
                        <span *ngIf="problemeForm.get('telephone').errors['maxlength']">
                        <small  class="text-muted">                  
                            Veuillez entrer moins de caractères.
                        </small>
                        </span>                
                        <span *ngIf="problemeForm.get('telephone').errors['pattern']">
                            <small  class="text-muted">                                            
                                Merci d'entrer seulement des chiffres.
                            </small>
                        </span> 
                    </span>
                    </div>
                </div>
                   <!-- Zone de texte COURRIEL -->          
                <div class="form-group row">                  
                        <label for="courrielId" class="col-md-2 col-form-label text-right">Adresse courriel :</label>
                    <!-- Indiquer le formGroupName pour avoir accès à formControlName -->              
                    <div class="col-md-10" formGroupName="courrielGroup">
                        <input class="form-control" 
                        id="courrielId" 
                        type="email" 
                        placeholder="Courriel (obligatoire si notification par courriel)" 
                        formControlName = "courriel"
                        [ngClass]="{'is-valid': (problemeForm.get('courrielGroup.courriel').touched || 
                                    problemeForm.get('courrielGroup.courriel').dirty) &&
                                    problemeForm.get('courrielGroup.courriel').valid, 
                                    'is-invalid': (problemeForm.get('courrielGroup.courriel').touched || problemeForm.get('courrielGroup.courriel').dirty) &&
                                    !problemeForm.get('courrielGroup.courriel').valid }" />

                        <span class="form-text" *ngIf="(problemeForm.get('courrielGroup.courriel').touched || 
                                problemeForm.get('courrielGroup.courriel').dirty) && 
                                (problemeForm.get('courrielGroup.courriel').errors ||
                                problemeForm.get('courrielGroup').errors)">                                
                            <span *ngIf="problemeForm.get('courrielGroup.courriel').errors['required']">
                                <small  class="text-muted">                       
                                    Merci d'entrer votre adresse électronique.
                                </small>
                            </span>                         
                            <span *ngIf="problemeForm.get('courrielGroup.courriel').errors['pattern']">
                                <small  class="text-muted">                       
                                S.V.P. entrer les informations dans un format valide.
                                </small>
                            </span>                     
                        </span>                              
                    </div>
                 </div> 
                  <!-- Zone de texte COURRIEL CONFIRMATION -->   
                
                  
                <div class="form-group row">                  
                    <label for="courrielConfirmationId" class="col-md-2 col-form-label text-right">Confirmer courriel :</label>
                <!-- Indiquer le formGroupName pour avoir accès à formControlName -->            
                    <div class="col-md-10" formGroupName="courrielGroup"> 
                        <input class="form-control" 
                        id="courrielConfirmationId" 
                        type="email" 
                        placeholder="Entrez à nouveau le courriel (obligatoire si notification par courriel)" 
                        formControlName = "courrielConfirmation"
                        [ngClass]="{'is-valid': (problemeForm.get('courrielGroup.courrielConfirmation').touched || 
                        problemeForm.get('courrielGroup.courrielConfirmation').dirty) &&
                        problemeForm.get('courrielGroup.courrielConfirmation').valid, 
                        'is-invalid': (problemeForm.get('courrielGroup.courrielConfirmation').touched || problemeForm.get('courrielGroup.courrielConfirmation').dirty) &&
                        !problemeForm.get('courrielGroup.courrielConfirmation').valid || problemeForm.get('courrielGroup').errors}" />
                
                            <span class="form-text" *ngIf="(problemeForm.get('courrielGroup.courrielConfirmation').touched || 
                                    problemeForm.get('courrielGroup.courrielConfirmation').dirty) && 
                                    (problemeForm.get('courrielGroup.courrielConfirmation').errors ||
                                    problemeForm.get('courrielGroup').errors)">                                
                                    <span *ngIf="problemeForm.get('courrielGroup.courrielConfirmation').errors['required']">
                                        <small  class="text-muted">                            
                                            Confirmez votre adresse courriel (la réécrire)
                                        </small>
                                    </span>
                                    <span *ngIf="problemeForm.get('courrielGroup').errors['match']">
                                        <small  class="text-muted"> 
                                            Le courriel de confirmation n'est pas le même que le courriel.  Le corriger.
                                        </small>
                                    </span>                         
                            </span>                              
                        </div>
                </div>  
            </form>
        </div>
        <div class="card-footer">
            <!-- Bouton save ici -->
            <button class="btn btn-primary" type="submit">
                Sauvegarder
            </button>
        </div>
    </div>
</div>